* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    --s: 100px; /* control the size */
    --c1: #748C6C;
    --c2: #2A3F1D;
    --_g: var(--c2) 4% 14%, var(--c1) 14% 24%, var(--c2) 22% 34%,
        var(--c1) 34% 44%, var(--c2) 44% 56%, var(--c1) 56% 66%, var(--c2) 66% 76%,
        var(--c1) 76% 86%, var(--c2) 86% 96%;
    background: radial-gradient(
        100% 100% at 100% 0,
        var(--c1) 4%,
        var(--_g),
        #0008 96%,
        #0000
        ),
        radial-gradient(
            100% 100% at 0 100%,
            #0000,
            #0008 4%,
            var(--_g),
            var(--c1) 96%
        )
        var(--c1);
    background-size: var(--s) var(--s);
}

.hero {
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    animation: expand .8s ease forwards;
    transition: all .8s ease;
}

.hero h1 {
    font-size: 8vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    animation: slideUp .8s ease-in-out forwards .8s;
}

.content {
    display: flex;               
    flex-direction: column;
    gap: 20px;                   
    padding: 0px;
    color: rgb(7, 7, 7);
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #2A3F1D;
    color: white; 
    padding: 20px 0; 
    margin: 0 0 30px 0; 
    width: 100%; 
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2A3F1D;
    position: fixed;
    top: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: auto;
    z-index: 1000;
}

ul li a {
    display: flex;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

ul li a:hover {
    background-color: #849454;
}

.salir a:hover {
    background-color: #ec0808;
}

.btn1 {
    flex : 0.5;
}

button {
    padding: 20px;
    background-color: #2A3F1D;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;              
    text-align: center;
    margin: 10px;
    overflow: hidden;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out  forwards 1s;
    min-width: 20%;
}
button:hover {
    background-color: #849454;
}

.res {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.189);
    max-width: 900px;
    width: 100%;
    margin: 0 50px;
    transform: translateY(50px);
    animation: slideUp .8s ease-in-out  forwards 1s;
}
.active {
    background-color: #849454;
}
.salir {
    float: right;
}

.button-result {
    display: flex;               
    justify-content: flex-start; 
    gap: 10px;                   
    align-items: center;
    animation: slideIn 1.5s ease-in-out forwards;        
}

.button-result2 {
    display: flex;               
    justify-content: flex-start; 
    gap: 10px;                   
    align-items: center;
    animation: slideIn 1.5s ease-in-out forwards;
    margin-bottom: 100px;       
}

.btn2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px; 
}

.btn2 {
    padding: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: #849454;
  }


  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }

