* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url('https://img.freepik.com/foto-gratis/refresco-arriba-medida-que-rociadores-arrojan-agua-sobre-vegetacion-geometrica-campos_91128-4673.jpg?t=st=1730850266~exp=1730853866~hmac=6d876b2e4881f831d48b658a32a9254367ee34a194337737cca0ec92060a420c&w=1380');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    
}

.hero h1 {
    font-size: 8vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.content {
    display: flex;               /* Flexbox para alinear en fila */
    flex-direction: column;
    gap: 20px;                   /* Espacio entre los elementos */
    padding: 0px;
    color: rgb(7, 7, 7);
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #2A3F1D;
    color: white; /* Asegura que el texto sea visible */
    padding: 20px 0; /* Añade algo de espacio interior */
    margin: 0 0 30px 0; /* Elimina cualquier margen adicional */
    width: 100%; /* Asegura que el elemento ocupe todo el ancho */
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: auto;
    z-index: 1000;
}

ul li a {
    display: flex;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

ul li a:hover {
    background-color: #04AA6D;
}

.salir a:hover {
    background-color: #ec0808;
}

.btn1 {
    flex : 0.5;
}

button {
    padding: 20px;
    background-color: #2A3F1D;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;              
    text-align: center;
    margin: 10px; 
}
button:hover {
    background-color: #849454;
}

.res {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.189);
    max-width: 900px;
    width: 100%;
    margin: 0 50px;
}
.active {
    background-color: #04AA6D;
}
.salir {
    float: right;
}

.button-result {
    display: flex;               
    justify-content: flex-start; 
    gap: 10px;                   
    align-items: center;         
}

.btn2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px; 
}

.btn2 {
    padding: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}


